/* Media Queries */
@media screen and (min-width: 768px) {
    /* App */
  
    .app .AppsBox {
      min-height: 314px;
    }
  
    .app .caption {
      display: block;
    }
  
    .AppsBox .max-w-xl {
      flex-direction: row-reverse;
    }
  
    .AppsBox .content-container {
      width: 55%;
      text-align: left;
      margin-right: auto;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }
  
    .AppsBox .imageContainer {
      width: 45%;
      text-align: right;
      max-height: 480px;
    }
  
    .imageContainer img {
      min-width: 500px;
    }
  
    .content-container .sub-heading {
      font-size: 1.8rem;
    }
  
    .content-container .buttons-container {
      margin-top: 1rem;
    }
  }
  
  @media screen and (min-width: 960px) {
    /* App */
    .app .AppsBox {
      padding: 0 2rem;
    }
  
    .imageContainer img {
      min-width: 600px;
    }
  
    .content-container .buttons-container {
      margin-top: 2rem;
    }
  }